# Dependency directories
node_modules/
dist/
target/
src-tauri/target/

# OS metadata
.DS_Store
Thumbs.db

# Environment and Logs
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnpm-debug.log*

# Tauri
src-tauri/gen/
src-tauri/remote/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
!/.env.example
